.grid {
  display: grid;
}
.grid-col-2 {
  grid-template-columns: 1.5fr 1fr;
}
.carousel {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.carousel__track-container {
  /* background: lightgreen; */
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}
.carousel__button.carousel__button--left:active {
  transform: translate(-10px, -10px);
  transition: all 0.3s;
}
.carousel__button.carousel__button--right:active {
  transform: translate(10px, -10px);
  transition: all 0.3s;
}
.carousel__button svg {
  display: block;
  height: 20px;
  width: 20px;
}
.carousel__button--left {
  left: -50px;
}
.carousel__button--right {
  right: -50px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
    row-gap: 7px
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 8px;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 100px;
  width: 30px;
  height: 8px;
}
.is-hidden {
  display: none;
}
