/* Below 1000px */
@media (max-width: 62.5rem) {
  .main-nav-list {
    gap: 2.4rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.8rem;
  }
}
/* Below 816px */
@media (max-width: 52rem) {
  .btn-mobile-nav {
    display: block;
    align-self: end;
    margin-right: 6.4rem;
    margin-bottom: 6.4rem;
    margin-top: 3.4rem;
  }
  .btn-mobile {
    border: none;
    background: none;
    cursor: pointer;
    display: block;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.5s;
    display: flex;
    align-items: center;

    /* justify-content: space-around; */
    flex-direction: column;
    /* gap: 4.8rem; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* Below 424px */
@media (max-width: 26.5rem) {
  .temp-logo {
    font-size: 2.2rem;
  }
}
