/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 
Large: 

- Letter spacing


--- 02 COLORS

- Primary: #339af0
- Tints: #d0ebff
#4dabf7 (rgb 77,171,247) (for vectors)
#74c0fc for cta text box
#e7f5ff for cta form box

- Shades: 
- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* TESTING ELEMENTS */
.dummy-height-div {
  height: 500rem;
  /* position: relative; */
}

.custom-shape-divider-bottom-1652342433 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1652342433 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 350px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1652342433 .shape-fill {
  fill: #fff;
}

/**********SECTION-HEADER*********/
header {
  display: flex;
  justify-content: space-between;
  height: 9.6rem;
  background-color: #d0ebff;
  align-items: center;
  padding: 0 4.8rem;

  /* position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw; */
}
.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  font-size: 2rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #339af0;
}
.temp-logo {
  font-size: 3.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #143e60;
}
.footer-temp-logo {
  font-size: 4.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #143e60;
}

.main-nav-link.nav-cta {
  background-color: #339af0;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  box-shadow: 0px 0px 30px -20px rgb(0 0 0);
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #2c5170;
}
/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  /* display: none; */
}
.btn-mobile {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 3.2rem;
  width: 3.2rem;
  color: #333;
}
.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/************SECTION-HERO************/
.section-hero {
  position: relative;
  background-color: #d0ebff;
  padding: 4.8rem 0;
  height: 55rem;
  /* width: 170rem; */
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 4.8rem;
  align-items: center;

  position: absolute;
  z-index: 100;

  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.hero-description {
  font-size: 3.6rem;
  color: #666;
  margin-bottom: 3.2rem;
}
.hero-img-box {
  position: relative;
}
.hero-img-box img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.hero-btn {
  background-color: #339af0;
  color: #fff;
  transition: all 0.3s;
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #2c5170;
  transition: all 0.3s;
}

/**********SECTION-ABOUT-ME**********/
.section-about-me {
  margin-top: 12.8rem;
}
.about-me-img-box {
  text-align: center;
}
.about-me-img-box img {
  width: 75%;
}
.about-me-text {
  font-size: 2.4rem;
  color: #666;
  line-height: 1.8;
  margin-top: 1.2rem;
}
.highlight {
  color: #339af0;
  font-size: 3.2rem;
  line-height: 1.8rem;
}

/************SECTION-FEATURES*************/
.section-features {
  margin-top: 12.8rem;
}
.feature-box {
  display: flex;
  gap: 3.2rem;
}
.section-features .container {
  margin-bottom: 4.8rem;
}

.feature-text-area {
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
}
.feature-heading {
  color: #333;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.feature-description {
  color: #666;
  font-size: 2rem;
  line-height: 1.7;
}
.feature-icon {
  border: 2px solid #339af0;
  background-color: #d0ebff;
  border-radius: 52% 48% 46% 54% / 53% 39% 61% 47%;
  padding: 8px;
}

/************SECTION-PROCESS**************/
.section-process {
  margin-top: 12.8rem;
  margin-bottom: 12.8rem;
}
.section-process .container {
  margin-bottom: 5.6rem;
  align-items: center;
}
.process-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 7.6rem;
  margin-top: 6.4rem;
}
.process-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.process-description {
  font-size: 2.4rem;
  line-height: 1.8;
}
.process-img-box {
  text-align: center;
}
.process-img-box img {
  width: 75%;
}

/* *********************SECTION-CTA****************** */
.cta-text-box {
  padding: 6.4rem;
  background-color: #74c0fc;
  color: #143e60;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}
.cta-subheading {
  display: block;
  font-size: 2.4rem;
  text-align: center;
  /* margin-bottom: 6.4rem; */
  /* margin-bottom: 2.4rem; */
}
.cta-lets {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
  margin-right: 12rem;
}
.cta-talk {
  margin-left: 12rem;
}
.cta-heading {
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 0.5;
}
.cta-form-box {
  background-color: #e7f5ff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  /* padding: 6.4rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  /* text-align: center; */
  padding: 6.4rem 10.2rem;
}
.section-cta .grid {
  gap: 0;
}
.section-cta .container {
  border-radius: 9px;
}
.form-btn {
  font-size: 1.6rem;
  font-weight: 800;
  padding: 1.2rem 6.4rem;
  border-radius: 9px;
  background-color: #143e60;
  color: #fff;
  border: none;
  width: 100%;
  transition: all 0.3s;
  box-shadow: 0px 0px 30px -13px rgb(0 0 0);
}
.form-btn:hover,
.form-btn:active {
  background-color: #339af0;
}
.cta-form-box label {
  color: #143e60;
  font-size: 1.6rem;
  display: block;
  margin-bottom: 1.2rem;
}
.cta-form-box input,
.cta-form-box textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fff;
  border-radius: 9px;
  margin-bottom: 2.4rem;
}

/* *****************SECTION-FOOTER-WAVE****************** */
.custom-shape-divider-bottom-1652512758 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1652512758 svg {
  position: relative;
  display: block;
  width: calc(111% + 1.3px);
  height: 76px;
}

.custom-shape-divider-bottom-1652512758 .shape-fill {
  fill: #d0ebff;
}

.wave {
  position: relative;
}

/* temp */
.custom-shape-divider-bottom-1652599454 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1652599454 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 65px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1652599454 .shape-fill {
  fill: #eee;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1652599454 svg {
    width: calc(300% + 1.3px);
    height: 52px;
  }
}

/*  */

/* SECTION-PORTFOLIO */
.section-portfolio {
  margin-top: 9.6rem;

  /* temp */
  margin-bottom: 9.6rem;
}
.section-portfolio .container {
  margin-bottom: 3.4rem;
}
.section-portfolio .grid {
  padding-inline: 4.4rem;
}
.portfolio-card {
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.07); */
  box-shadow: 2rem 2rem 1.5rem rgba(0, 0, 0, 0.05);
  transition: all 0.4s;
  border: 1px solid #ddd
}
.portfolio-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.portfolio-text-box {
  padding: 0 1.2rem;
}
.portfolio-btn:link,
.portfolio-btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 500px;
  color: #333;
  border: 1px solid black;
}
.portfolio-external-btn:link,
.portfolio-external-btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.8rem 1.2rem;
  border-radius: 500px;
  align-self: center;
  color: #339af0;
  /* color: #333; */
  display: block;
  transition: all 0.3s;
}
.portfolio-external-btn:hover,
.portfolio-external-btn:active {
  color: #2c5170;
}

.portfolio-img-box {
  position: relative;
  margin-bottom: 1.2rem;
  /* height: 40%; */
}

.portfolio-button-area {
  padding: 2.4rem 3.2rem;
  text-align: end;
  margin-top: 3.2rem;
}
.portfolio-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 1.8rem;
}
.portfolio-description {
  font-size: 1.8rem;
  margin-top: 0.8rem;
  line-height: 1.1;
}
.portfolio-img {
  width: 100%;
}
.portfolio-grid {
  display: grid;
  margin-top: 1.2rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag-yellow {
  background-color: #ffd43b;
}
.tag-green {
  background-color: #51cf66;
}

/* **************SECTION-FOOTER**************** */
footer {
  position: relative;
}
.section-footer {
  margin-top: 20rem;
  padding: 3.2rem 0;
  background-color: #d0ebff;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12.2rem;
}
.section-footer .flex {
  justify-content: space-around;
  align-content: space-around;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #333;
  font-size: 2.4rem;
}
.footer-link-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 0.8rem;
}
.footer-logo-box {
  margin-block: auto;
}
/* .section-footer {
  margin-top: 20rem;
  padding: 2.4rem 0;
  background-color: #d0ebff;
}
.section-footer .grid {
  justify-items: center;
  column-gap: 0;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.footer-logo:link,
.footer-logo:visited {
  text-decoration: none;
  margin-bottom: 2.4rem;
  color: #333;
}
.social-links {
  display: flex;
  gap: 3.2rem;
}
.social-links {
  list-style: none;
}
.copyrights {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #666;
  margin-top: auto;
}
.address {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.6rem;
}
.footer-heading {
  color: #333;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  list-style: none;
}
.footer-link,
.footer-link a:link,
.footer-link a:visited {
  color: #666;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 1.6;
}
.contacts {
  font-style: normal;
} */

/* SECTION - PORTFOLIO-DETAILS */
.portfolioDetails-description {
  font-size: 2.4rem;
  line-height: 1.2;
}
.techStack-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.portfolio-item-img-box img {
  width: 100%;
}
.portfolio-details-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 2.4rem;
}
.demo:link,
.demo:visited {
  text-decoration: none;
  background-color: #339af0;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  font-size: 2rem;
  font-weight: 600;
  margin-top: -1.2rem;
  transition: all 0.3s;
  box-shadow: 0px 0px 30px -18px rgb(0 0 0);
}
.demo:hover,
.demo:active {
  background-color: #2c5170;
}
.techStack-description {
  font-size: 2.4rem;
  line-height: 1.8;
}
.portfolio-details-bottom {
  margin-left: 14.8rem;
  margin-right: 14.8rem;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
}
.case-study {
  /* margin: 3.2rem 6.4rem; */
  margin-left: 6.4rem;
  margin-right: 6.4rem;
}

/* SECTION SKILLS */
.section-skills {
  position: relative;
  background-color: #d0ebff;
  padding-block: 7.2rem;
  margin-top: 4.4rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 5.5rem;
  justify-items: center;
  margin-top: 3.2rem !important;
}
.skills-subheading {
  font-size: 1.8rem;
  font-weight: 500;
  color: #666;
  text-transform: uppercase;
  margin-bottom: 7.2rem;
  margin-top: 1.2rem;
  letter-spacing: 0.75px;
}
.skill-item {
  text-align: center;
  
}
.skill-item-img{
  height: 76px;
  width: 76px;
}
.section-skills svg {
  height: 76px;
  width: 76px;
}
