/temp
/.vscode
/img/devconnect/archive
/img/hero/archive
/img/kailashCoating/archive
/img/logos/archive
/img/omnifood/archive
/img/PetPet/archive
/img/Process/archive
/img/proshop/archive
/img/Purchase Management/archive